*.?#[0-9#]
*.zip
*.GBL
*.GBO
*.GBP
*.GBS
*.GML
*.GTL
*.GTO
*.GTP
*.GTS
*.TXT
*.dri
*.gpi
*.pdf
*.pro
*.job
firmware/build
firmware/sdkconfig
firmware/sdkconfig.old
firmware/components/cpp_utils
firmware/components/posix
*.o
hosttool/irtx
